<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="'deNile - ' + ${category.name}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
</head>
<body>
  <div class="container">
    <div th:replace="header"></div>
    
    <main>
      <div class="flex-separate">
        <h2><span th:text = "${category.name}"></span> Products</h2>
        <a th:href="@{/}">All Products</a>
      </div>
      <section class="itemGrid">
        <div th:each="product: ${category.products}">
            <a th:href="@{/product(id=${product.id})}">
              <h3 th:text="${product.name}"></h3>
              <img th:src="@{${product.imageUrl}}" />
            </a>
        </div>
      </section>
    </main>

    <div th:replace="footer"></div>
  </div>
</body>
</html>