<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Category</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
</head>
<body>
  <div th:replace="header"></div>
  
  <main>
    <div class="flex-separate">
      <h2>Products in our <span th:text = "${category.name}"></span> Department</h2>
      <a th:href="@{/}">All Departments</a>
    </div>
    <section class="itemGrid">
        <div th:each="product:${category.products}">
          <strong>
            <a th:href = "@{/product(id=${product.id})}"
              th:text = "${product.name}"></a>
        </strong>
      </div>
    </section>
  </main>

  <div th:replace="footer"></div>
  
</body>
</html>