<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>deNile - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
</head>
<body>
  <div class="container">
    <div th:replace="header"></div>

    <main>
      <h2>All Products</h2>
      <section class="itemGrid categories">
        <div th:each="category : ${categories}">
            <a th:href="@{/category(id = ${category.id})}">
              <h3 th:text="${category.name}"></h3>
              <img th:src="@{${category.imageUrl}}" />
            </a>
            <div>
              Products: <span th:text="${category.productCount}"></span>
            </div>
        </div>
      </section>

    </main>
    
    <div th:replace="footer"></div>
  </div>
</body>
</html>