<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title th:text="'deNile - ' + ${product.name}"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
</head>
<body>
  <div class="container">
    <div th:replace="header"></div>

    <main>
      <div class="flex-separate">
          <div th:unless = "${product.category}">
            <!--
              empty <div> so no matter what, this th:if/th:unless
              combination produces a single <div>, which will be
              positioned on the left side of the parent flexbox
            -->
          </div>
          <div th:if = "${product.category}">
            <a th:href = "@{/category(id=${product.category.id})}"
              th:text = "'Other ' + ${product.category.name} + ' Products'"></a>
          </div>

          <a th:href="@{/}">All Products</a>
      </div>

      <div id="productInfo">
        <h2 th:text = "${product.name}"></h2>
        <p th:text="${product.description}"></p>
      </div>
      
      <form method="POST" th:action="@{/addItemToCart}" id="addProduct" class="flex-separate">
        <div>
          Quantity: <input type="number" name="quantity" value="1">
          <input type="hidden" th:value="${product.id}" name="id">
          <input type="Submit" value="Add to Cart">
        </div>
        <div>
          In Cart: <span th:text="${quantity}"></span>
        </div>
      </form>

    </main>

    <div th:replace="footer"></div>
  </div>
</body>
</html>