:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* body {
  background: #efefef;
} */

.container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  box-shadow:
    0 0 0 1px #000, /* solid outline shadow on top */
    0 0 80px #aaa; /* grey blurry shadow behind it*/
}

header {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 1rem;
}

header a {
  color: lime;
  text-decoration: none;
}

header a:hover {
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}


@media screen and (max-width: 400px) {
  header h2 {
    display: none;
  }
}

header #cartIcon {
  text-align: right;
}

main {
  margin: 1rem;
  min-height: 70vh;
}

.flex-separate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main ul {
  margin-left: 2rem;
}

#productInfo {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

#productInfo img {
  float: right;
  margin: 0 0 1rem 0.5rem;
  max-width: 30%;
}

#productInfo::after {
  /* clearfix for floating product image */
  content: '';
  clear: both;
  display: block;
}

#productInfo h2 {
  /**/
}

#productInfo p {
  margin-top: 1rem;
}

#addProduct {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background: #eee;
  padding: 0.25rem;
  margin: 1rem 0;
}

#addProduct input {
  border: 1px solid #333;
  border-radius: 0.1rem;
  padding: 0.2rem 0.5rem;
}

#addProduct input[type="number"] {
  width: 5rem;
}

.itemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.itemGrid > div {
  background: #eee;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #ddd;
  padding: 1rem;
}

.itemGrid > div img {
  max-width: 100%;
  background: #fff;
  margin: 0.5rem 0;
}

.itemGrid.icons > div img {
  /* to handle edge-to-edge icons on categories page */
  padding: 1rem;
}

@media screen and (max-width: 650px) {
  .itemGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .itemGrid {
    grid-template-columns: 1fr;
  }
}

.cartItem {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;

  /* so button is positioned according to this element */
  position: relative;
}

.cartItem h3 {
  color: #333;
}

.cartItem h4 {
  color: #aaa;
}

.cartItem a {
  text-decoration: none;
}

.cartItem a:hover {
  text-decoration: underline;
}

.cartItem button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  color: orange;
  background: white;
  border: 1px solid orange;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.cartItem button:hover {
  color: white;
  background: orange;
}

.cartItem .changeQuantity {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  color: #09f;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  border-top: 2px solid #666;
  padding: 1rem;
  background: #ddd;
  color: #222;
  min-height: 20vh;
  text-align: right;
}
